.App {
min-height: 100vh;
background: rgb(40, 154, 192);
display: flex;
justify-content: space-around;
align-items: center;
}

.tweet {
  border-radius: 30px;
  background: whitesmoke;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red {
  color: red;
  font-size: 50px;
  
}
